html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	width: 100%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */
  
  .navbar-light .navbar-nav .nav-link {
    padding: 25px 10px;
    color: #343a40;
    font-weight: 500;
    outline: none;
  }
  
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link.active {
    color: #0BCEAF;
  }
  
  #contact {
    background-color: #1ea89633;
    background-image: url("../Vector.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center center;
    display: flex;
    background-attachment: inherit;
    align-items: center;
    padding: 5%;
   }
   
   #contact h3 {
    font-family: "Balsamiq Sans";
    font-weight: 700;
    font-size: 24px;
   }
   #contact p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
   }
   #contact .btn.btn-brand {
    width: 100%;
   }
   .icon-top{
    height: 80px;
   }
   
    
    .laptop{
        height: 400px;
        width: 400px;
    }

    .progress {
        border-radius: 10px;
      }
      
      .progress .progress-bar {
        width: 0px;
        border-radius: 10px;
        transition: 2s;
      } 

      .my-image{
        height: 450px;
        width: 450px;
      }

   footer {
    background-color: #4c5454;
    padding-top: 20px;
    padding-bottom: 20px;
   }
   footer .social-icons a {
    /* color: #fff; */
    font-size: 24px;
    text-decoration: none;
    padding-left: 1em;
    padding-top: 1.5em;
   }
   footer .social-icons a:hover {
    color: #ff715b;
   }

   @media screen and (max-width: 990px) {
    .message-img {
    display: none;
     }
   }

  @media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
      padding: 10px 0;
    }
  }

  @media screen and (max-width: 350px) {
    .my-image {
 }
   }

